* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
}
nav {
  padding: 8px;
}
.logo {
  float: left;
  padding: 8px;
  margin-left: 16px;
  margin-top: 8px;
  margin-bottom:10px;
}
.logo a {
  color: #000;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0px;
  text-decoration: none;
}
.logo a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}
.logo a:hover::after {
  width:100%;
  //transition: width .3s;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  float: left;
  margin-bottom:10px;
}
nav ul li:not(:first-child) {
  margin-left: 48px;
}
nav ul li:last-child {
  margin-right: 24px;
}
nav ul li a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: 600;
  padding-top:25px;
}
nav ul li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}
nav ul li a:hover::after {
  width:100%;
  //transition: width .3s;
}
/* repertoire page*/
.repertoire .repertoire-wrap .repertoire-intro h3 {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
  color:#000;
}
.repertoire .repertoire-wrap .repertoire-intro ul:last-of-type {
  margin-bottom: 30px;
}
.repertoire .repertoire-wrap {
*zoom: 1;
max-width: 1050px;
width: 1050px;
padding-left: 30px;
padding-right: 30px;
margin-left: auto;
margin-right: auto;
margin-left: 0%;
padding-left: 0%;
margin-right: 0%;
padding-right: 0%;
}
.repertoire .repertoire-wrap:after {
content: "";
display: table;
clear: both;
}

.repertoire .repertoire-wrap .repertoire-intro {
margin-left: 17.14286%;
width: 65.71429%;
float: left;
margin-right: 2.85714%;
display: inline;
margin-right: 17.14286%;
font-size: 11px;
font-size: 1.1rem;
padding: 45px 0;
}

.repertoire .repertoire-wrap .repertoire-intro {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -30px;
  display: inline;
}

/* gallery page*/
h3 {
  font-size: 36px;
  line-height: 1.3;
}


a {
  color: #333;
  text-decoration: underline;
  outline: 0;
}


.main {
  *zoom: 1;
  max-width: 1050px;
  width: 1050px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 80px;
}

.main:after {
  content: "";
  display: table;
  clear: both;
}


.gallery .gallery-image {
  *zoom: 1;
  max-width: 1050px;
  width: 1050px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-left: 0%;
  padding-left: 0%;
  margin-right: 0%;
  padding-right: 0%;
  background-image: url(IMG_1893.jpg);
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 45%;
  overflow: hidden;
  margin: 0;
}
.gallery .gallery-image:after {
  content: "";
  display: table;
  clear: both;
}

.gallery .gallery-wrap .gallery-intro h3 {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
  color:#000;
}

.gallery .gallery-wrap .gallery-intro p:last-of-type {
  margin-bottom: 30px;
}
.gallery .gallery-wrap {
*zoom: 1;
max-width: 1050px;
width: 1050px;
padding-left: 30px;
padding-right: 30px;
margin-left: auto;
margin-right: auto;
margin-left: 0%;
padding-left: 0%;
margin-right: 0%;
padding-right: 0%;
}

.gallery .gallery-wrap:after {
content: "";
display: table;
clear: both;
}

.gallery .gallery-wrap .gallery-intro {
margin-left: 17.14286%;
width: 65.71429%;
float: left;
margin-right: 2.85714%;
display: inline;
margin-right: 17.14286%;
font-size: 11px;
font-size: 1.1rem;
padding: 45px 0;
}

.gallery .gallery-wrap .gallery-intro {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -30px;
  display: inline;
}

  /* gallery me page image*/
  .gallery .gallery-image {
    background-image: url(IMG_1893.jpg);
  }

/* booking page*/
h3 {
  font-size: 36px;
  line-height: 1.3;
}


a {
  color: #333;
  text-decoration: underline;
  outline: 0;
}


.main {
  *zoom: 1;
  max-width: 1050px;
  width: 1050px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 80px;
}

.main:after {
  content: "";
  display: table;
  clear: both;
}


.booking .booking-image {
  *zoom: 1;
  max-width: 1050px;
  width: 1050px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-left: 0%;
  padding-left: 0%;
  margin-right: 0%;
  padding-right: 0%;
  background-image: url(IMG_1893.jpg);
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 45%;
  overflow: hidden;
  margin: 0;
}
.booking .booking-image:after {
  content: "";
  display: table;
  clear: both;
}

.booking .booking-wrap .booking-intro h3 {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
  color:#000;
}

.booking .booking-wrap .booking-intro p:last-of-type {
  margin-bottom: 30px;
}
.booking .booking-wrap {
*zoom: 1;
max-width: 1050px;
width: 1050px;
padding-left: 30px;
padding-right: 30px;
margin-left: auto;
margin-right: auto;
margin-left: 0%;
padding-left: 0%;
margin-right: 0%;
padding-right: 0%;
}

.booking .booking-wrap:after {
content: "";
display: table;
clear: both;
}

.booking .booking-wrap .booking-intro {
margin-left: 17.14286%;
width: 65.71429%;
float: left;
margin-right: 2.85714%;
display: inline;
margin-right: 17.14286%;
font-size: 11px;
font-size: 1.1rem;
padding: 45px 0;
}

.booking .booking-wrap .booking-intro {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -30px;
  display: inline;
}

  /* booking me page image*/
  .booking .booking-image {
    background-image: url(IMG_1889.jpg);
  }


/* about me page*/
h3 {
  font-size: 36px;
  line-height: 1.3;
}


a {
  color: #333;
  text-decoration: underline;
  outline: 0;
}


.main {
  *zoom: 1;
  max-width: 1050px;
  width: 1050px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 80px;
}

.main:after {
  content: "";
  display: table;
  clear: both;
}


.about .about-image {
  *zoom: 1;
  max-width: 1050px;
  width: 1050px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-left: 0%;
  padding-left: 0%;
  margin-right: 0%;
  padding-right: 0%;
  background-image: url(IMG_1914.jpg);
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 45%;
  overflow: hidden;
  margin: 0;
}
.about .about-image:after {
  content: "";
  display: table;
  clear: both;
}

.about .about-wrap .about-intro h3 {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
  color:#000;
}

.about .about-wrap .about-intro p:last-of-type {
  margin-bottom: 30px;
}
.about .about-wrap {
*zoom: 1;
max-width: 1050px;
width: 1050px;
padding-left: 30px;
padding-right: 30px;
margin-left: auto;
margin-right: auto;
margin-left: 0%;
padding-left: 0%;
margin-right: 0%;
padding-right: 0%;
}

.about .about-wrap:after {
content: "";
display: table;
clear: both;
}

.about .about-wrap .about-intro {
margin-left: 17.14286%;
width: 65.71429%;
float: left;
margin-right: 2.85714%;
display: inline;
margin-right: 17.14286%;
font-size: 11px;
font-size: 1.1rem;
padding: 45px 0;
}

.about .about-wrap .about-intro {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -30px;
  display: inline;
}

  /* about me page image*/
  .about .about-image {
    background-image: url(IMG_1914.jpg);
  }


/* contact me page*/
h3 {
  font-size: 36px;
  line-height: 1.3;
}


a {
  color: #333;
  text-decoration: underline;
  outline: 0;
}


.main {
  *zoom: 1;
  max-width: 1050px;
  width: 1050px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 80px;
}

.main:after {
  content: "";
  display: table;
  clear: both;
}


.contact .contact-image {
  *zoom: 1;
  max-width: 1050px;
  width: 1050px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-left: 0%;
  padding-left: 0%;
  margin-right: 0%;
  padding-right: 0%;
  background-image: url(IMG_1830.jpg);
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 45%;
  overflow: hidden;
  margin: 0;
}
.contact .contact-image:after {
  content: "";
  display: table;
  clear: both;
}

.contact .contact-wrap .contact-intro h3 {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
  color:#000000;
}

.contact .contact-wrap .contact-intro p:last-of-type {
  margin-bottom: 30px;
}
.contact .contact-wrap {
*zoom: 1;
max-width: 1050px;
width: 1050px;
padding-left: 30px;
padding-right: 30px;
margin-left: auto;
margin-right: auto;
margin-left: 0%;
padding-left: 0%;
margin-right: 0%;
padding-right: 0%;
}

.contact .contact-wrap:after {
content: "";
display: table;
clear: both;
}

.contact .contact-wrap .contact-intro {
margin-left: 17.14286%;
width: 65.71429%;
float: left;
margin-right: 2.85714%;
display: inline;
margin-right: 17.14286%;
font-size: 11px;
font-size: 1.1rem;
padding: 45px 0;
}

.contact .contact-wrap .contact-intro {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -30px;
  display: inline;
}

  /* contact me page image*/
  .contact .contact-image {
    background-image: url(IMG_1830.jpg);
  }




@media only screen and (max-width: 600px) {
  .logo {
    padding: 0;
  }
  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .nav-wrapper ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }

  .nav-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .nav-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }

  .nav-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }

  .nav-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }

  .nav-wrapper ul li:nth-child(5) a {
    transition-delay: 0.6s;
  }
  .nav-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-wrapper ul li a {
    padding: 10px 24px;
    opacity: 0;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.2px;
    transform: translateX(-20px);
    transition: all 0.2s ease;
  }
  .nav-btn {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }
  .nav-btn i:nth-child(4) {
    margin-top: 4px;
  }
  .nav-btn i:nth-child(5) {
    margin-top: 4px;
  }


/*responsive stuff*/
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #000;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}

